:host {
    display:flex;
    flex-direction: column;
    gap: 20px;
    
    .offer {
        display: flex;
        align-self: flex-start;
        color: #6c757d;
        padding: 10px;
        flex-basis: 0;
        border-bottom: 1px solid #0a0b0b;

    }
    .tile {
        img {
            filter: invert(100%);
        }
    }
}